$primaryColor: #ff742b;
$secondaryColor: #8a025d;
$secondaryTextColor:#ffffff;

$mediaquery-mobile: 460px;
$mediaquery-tab: 768px;
$mediaquery-desktop-sm: 992px;
$mediaquery-desktop-lg: 1600px;

$headerHeight: 60px;