$primaryColor: #ff742b;
$secondaryColor: #ffbb00;
$primaryTextColor: #2a2a2a;
$secondaryTextColor:#ffffff;
$headerHeight: 60px;
$footerHeight: 32px;


$mediaquery-mobile: 360px;
$mediaquery-tab: 768px;
$mediaquery-desktop-sm: 992px;
$mediaquery-desktop-lg: 1600px;