@import '../../styles/vars.scss';
@import '../../styles/common.scss';
@import '../../../node_modules/antd/dist/antd.css';

@font-face {
    font-family: 'Verdana';
    src: url('../../assets/fonts/Verdana.woff'),
        url('../../assets/fonts/verdana.ttf');
}

.shell {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Verdana';
    overflow-y: hidden;

    .content-transition {
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: ease;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease;
    }

    .header {
        width: 100%;
        height: $headerHeight;
        background-color: $primaryColor;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0px 20px;
        .logo{
            width: 48px;
            height: 40px;
            border: 1px solid #fff;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 28px;
            font-weight: 500;
        }
        .search-label-container{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
        .search-label{
            display: inline-block;
            width: 180px;
            font-weight: 500;
            color: #000;
            font-size: 18px;
            line-height: 1;
            padding: 0px 20px
        
        }
    }


        .header-content {
            position: relative;
            width: 100%;
            
            .search-text-input {
                width: 80%;
                height: 40px;
                padding: 2px 10px 2px 50px;

            }

            input {
                border: none;
                border-bottom: 1px solid #efefef;
                background: #fff;
                color: #000000;
                outline: none;
            }

            .search-button {
                position: absolute;
                left : 0px;
                top: -6px;
                padding: 10px;
                margin: 0px 2px;
                font-size: 22px;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
                
            }

        }
    }


    .main_content {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        overflow-y: hidden;

        .content {
            width: 100%;
            height: 100%;
            min-height: calc(100vh);
            overflow-y: hidden;

            @include media-tab {
                width: 100%;
                padding: 20px 0px;
            }

            @include media-mobile {
                width: 100%;
                padding: 20px 0px;
            }

            height: 100%;
            overflow-y: auto;

           
            
            
        }
    }

    .footer {
        width: 100%;
        background-color: $primaryColor;

        label {
            display: block;
            width: 100%;
            padding: 6px 10px;

            text-align: center;
            color: $secondaryTextColor;
        }
    }

}